.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
bin/
tf/
.crates.toml
.crates2.json

# Artifacts created when running acceptance tests locally.
acctest/oxide-token
alpine.qcow2
alpine.raw
