services:
  omicron-dev:
    build: "."
    image: "acctest-omicron-dev:${TEST_ACC_DOCKER_TAG:-latest}"
    command: "/bin/bash -c 'source env.sh && cargo xtask omicron-dev run-all'"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:12220"]
      interval: "5s"
      retries: 300
    ports:
      - "12220:12220"
