---
page_title: "{{ .ProviderShortName | title }} Provider"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{ .ProviderShortName | title }} Provider

{{ .Description | trimspace }}

{{ if .HasExamples -}}
## Example Usage

{{ tffile "examples/provider/provider.tf" }}

## Authentication

### Environment Variables

Export the `OXIDE_HOST` and `OXIDE_TOKEN` environment variables. This is the
recommended authentication method.

{{ tffile "examples/provider/provider-auth-env.tf" }}

### Profile

Use a profile from the credentials file created via `oxide auth login`.

{{ tffile "examples/provider/provider-auth-profile.tf" }}

### Host & Token

Set the host and token within the configuration. Use variables to keep sensitive
credentials out of the configuration.

{{ tffile "examples/provider/provider-auth-config.tf" }}
{{- end }}

{{ .SchemaMarkdown | trimspace }}
