name: acceptance
on:
  push:
    branches: 
      - main
      - '[0-9].[0-9]+'
    paths:
      - "**.go"
      - .github/workflows/acceptance.yml
      - "go.mod"
      - "go.sum"
  pull_request:
    branches: 
      - main
      - '[0-9].[0-9]+'
jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: hashicorp/setup-terraform@v3
      - uses: actions/setup-go@v5
        with:
          go-version: "1.x"
      - uses: actions/cache@v4
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - name: build
        run: make install
      - name: test
        run: make testacc
        env:
          OXIDE_TOKEN: ${{ secrets.COLO_OXIDE_TOKEN }}
          OXIDE_HOST: ${{ secrets.COLO_OXIDE_HOST }}
          TEST_ACC_NAME: TestAccCloud