name: "simulator acceptance tests"

on:
  workflow_call:
    inputs:
      omicron-branch:
        type: "string"
        required: true
        default: "main"

jobs:
  acceptance:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        tf-binary:
          - terraform
          - opentofu
    steps:
      # Simulated omicron takes up a meaningful amount of disk space, and the
      # hosted Github Actions runners don't offer much space. Clean up unused
      # dependencies so that we don't run out of disk. Borrowed from
      # https://carlosbecker.com/posts/github-actions-disk-space.
      - name: "cleanup"
        run: |
          sudo rm -rf /usr/share/dotnet /usr/local/lib/android /opt/ghc /opt/hostedtoolcache/CodeQL
          sudo docker image prune --all --force
          sudo docker builder prune -a
      - uses: actions/checkout@v6
      - uses: hashicorp/setup-terraform@v3
        if: matrix.tf-binary == 'terraform'
        with:
          terraform_wrapper: false
      - uses: opentofu/setup-opentofu@v1
        if: matrix.tf-binary == 'opentofu'
        with:
          tofu_wrapper: false
      - uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'
      - uses: docker/setup-compose-action@v1
      - uses: astral-sh/setup-uv@v7
      # Look up the version of oxide.rs corresponding to the requested omicron version. We'll cache
      # the resulting binary, so that we only build the CLI for a given oxide.rs commit once, and
      # always use the latest oxide.rs version corresponding to the relevant omicron version.
      - name: resolve oxide cli version
        id: oxide-cli
        run: |
          commit=$(./acctest/oxide-cli-version.sh '${{ inputs.omicron-branch }}')
          echo "commit=${commit}" >> $GITHUB_OUTPUT
      - name: cache oxide cli
        uses: actions/cache@v4
        with:
          path: ~/.cargo/bin/oxide
          key: oxide-cli-${{ steps.oxide-cli.outputs.commit }}
      - name: install oxide cli
        run: |
          if [[ -x ~/.cargo/bin/oxide ]]; then
            echo "using cached oxide cli"
          else
            cargo install \
              --git https://github.com/oxidecomputer/oxide.rs \
              --rev '${{ steps.oxide-cli.outputs.commit }}' \
              oxide-cli
          fi
          ~/.cargo/bin/oxide version
          echo ~/.cargo/bin >> $GITHUB_PATH
      # Run simulated omicron in the background with docker compose.
      # TODO(jmcarp): publish this image for faster builds.
      - name: omicron-dev
        working-directory: acctest
        run: |
          docker compose build --build-arg 'OMICRON_BRANCH=${{ inputs.omicron-branch }}'
          if ! docker compose up --wait --wait-timeout 1500; then
            docker compose logs
            exit 1
          fi
      # We can't use `oxide auth login` here, since it requires a browser to
      # complete the oauth device flow. Instead, fetch an auth token using a
      # script that simulates the browser flow.
      - id: auth-token
        working-directory: acctest
        run: |
          echo "OXIDE_TOKEN=$(uv run auth.py)" >> $GITHUB_OUTPUT
      # Create oxide resources necessary for acceptance tests, including an
      # arbitrary small image.
      - name: oxide-dependencies
        run: |
          # Install qemu, which we'll use to build a sample image.
          sudo apt-get update && sudo apt-get install -y qemu-utils

          if ! ./scripts/acc-test-setup.sh; then
            docker compose logs
            exit 1
          fi
        env:
          OXIDE_HOST: http://localhost:12220
          OXIDE_TOKEN: ${{ steps.auth-token.outputs.OXIDE_TOKEN }}
      - name: test (terraform)
        if: matrix.tf-binary == 'terraform'
        run: make testacc
        env:
          OXIDE_HOST: http://localhost:12220
          OXIDE_TOKEN: ${{ steps.auth-token.outputs.OXIDE_TOKEN }}
          OXIDE_TEST_IP_POOL_NAME: default
          OXIDE_SILO_DNS_NAME: "*.sys.oxide-dev.test"
      - name: test (opentofu)
        if: matrix.tf-binary == 'opentofu'
        run: |
          export TF_ACC_TERRAFORM_PATH=$(which tofu)
          make testacc
        env:
          TF_ACC_PROVIDER_NAMESPACE: oxidecomputer
          OXIDE_HOST: http://localhost:12220
          OXIDE_TOKEN: ${{ steps.auth-token.outputs.OXIDE_TOKEN }}
          OXIDE_TEST_IP_POOL_NAME: default
          OXIDE_SILO_DNS_NAME: "*.sys.oxide-dev.test"
