name: acceptance
on:
  release:
    types: [published, unpublished, edited]
jobs:
  acceptance:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: hashicorp/setup-terraform@v3
      - uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'
      - name: test
        shell: bash
        run: |
          make testacc
        env:
          OXIDE_TOKEN: ${{ secrets.COLO_OXIDE_TOKEN }}
          OXIDE_HOST: ${{ secrets.COLO_OXIDE_HOST }}
          OXIDE_TEST_IP_POOL_NAME: private
          OXIDE_SILO_DNS_NAME: "*.oxide-preview.com"
          TEST_ACC_NAME: TestAccCloud
