name: build & test
on:
  push:
    branches: 
      - main
      - '[0-9].[0-9]+'
    paths:
      - "**.go"
      - .github/workflows/build-test.yml
      - "go.mod"
      - "go.sum"
      - "docs/**"
      - "examples/**"
  pull_request:
    branches: 
      - main
      - '[0-9].[0-9]+'
jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'
      - name: build
        run: make build
      - name: test
        run: make test
      - name: lint
        run: sudo make lint
