name: build & test
on:
  push:
    branches:
      - main
      - '[0-9].[0-9]+'
      - 'rel/v*'
  pull_request:
  schedule:
    - cron: "25 7 * * *"
jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'
      - name: build
        run: make build
      - name: test
        run: make test
      - name: lint
        run: make lint
  acceptance:
    uses: "./.github/workflows/acceptance-sim.yml"
    with:
      omicron-branch: "rel/v17"
